<div class="login-container w-100">
    <form class="login-form"[formGroup]="form" (ngSubmit)="submit()">
      <h2 class="text-success">Login</h2>
      <div class="input-group">
        <label for="username">Username</label>
        <input type="text" formControlName="email" placeholder="Enter your email Address">
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password">
      </div>
      <button type="submit" class="btn btn-success w-100">Login</button>
      <p class="signup-link">Don't have an account? <a routerLink="/signup">Sign up</a></p>
    </form>
  </div>
